body {
  font-family: 'Roboto', sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    // margin: 1em;
    display: inline-block;
  }
}


.checkoutbuttons {
  display: flex;
  justify-content: flex-start;
  margin: 2em;
}

.thumbnail {
  width: 5rem;
  height: 5rem;
}
.shoppingcart {
  display: flex;
}

.cartinfo {
  flex-direction: row;
  margin-right: 20;
}

.spacer {
  flex-grow: 3;
}

// .dividerShoppingCart {
//   margin-top: 5%;

// }

// .container {
//   margin-bottom: 5%;
// }
