body {
  font-family: 'Roboto', sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }
}

.thumbnail {
  width: 5rem;
  height: 5rem;
}
.shoppingcart {
  display: flex;
  margin-top: 5%;
  margin-bottom: 5%;
}

// .dividerShoppingCart {
//   margin-top: 5%;

// }

// .container {
//   margin-bottom: 5%;
// }
